/* 가로 사이즈 768~1024사이일 때 */
/* 테블릿 사이즈 */
/* INNER */
.section .inner {
  max-width: 800px;
}

header .menu-group .swiper-container {
  width: 100%;
}
#topic-menu {
}
#topic-menu .swiper-slide {
  display: block;
  font-size: 16px;
  width: 10px;
}

/* FEATURE */
.section--feature li {
  width: 50%;
}

/* FOOTER */
.section--footer .wrap-footer {
}
