/* 가로 사이즈 768~1024사이일 때 */
/* 테블릿 사이즈 */
/* INNER */
.section .inner {
  max-width: 700px;
}

header .menu-group .swiper-container {
  width: 100%;
}
#topic-menu {
}
#topic-menu .swiper-slide {
  display: block;
  font-size: 16px;
  width: 10px;
}

/* FEATURE */
.section--feature .ex--article {
  width: 400px;
}
.section--feature li {
  width: 100%;
  margin: auto 0;
}
.section--feature li .show-article {
  height: 250px;
}

/* FOOTER */
.section--footer .wrap-footer {
}
