<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUMmicles</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" media="(max-width:1024px)" href="../static/css/main_medium.css">
    <link rel="stylesheet" media="(max-width:768px)" href="../static/css/main_small.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- SWIPER사용 CDN -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body>
    <div class="body_container">
        <header class="section">
            <div class="wrap-logo ">
                <a href="/main">
                    <h1 class="logo ">summicles 세줄요약</h1>
                </a>
                <div class="search-group ">
                        <input type="text" id="search" class="input--text" autocomplete="off" > 
                        <i class="fas fa-search"></i> 
                </div>
            </div>
            <div class="inner">
                <div class="menu-group">
                    <div class="topic-group swiper-container">
                        <ul id="topic-menu" class="swiper-wrapper">
                            <li id="main" class="on swiper-slide">뉴스홈</li>
                            <li id="politics" class="swiper-slide">정치</li>
                            <li id="economic" class="swiper-slide">경제</li>
                            <li id="society" class="swiper-slide">사회</li>
                            <li id="culture" class="swiper-slide">문화</li>
                            <li id="foreign" class="swiper-slide">국제</li>
                            <li id="digital" class="swiper-slide">IT/과학</li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>

        <!-- VISUAL -->
        <div class="section section--visual">
            <div class="inner">
                <div class="intro-page">
                    <h2 class="intro-title">안녕하세요. Summicles 입니다.</h2>
                    <p class="intro-description">뉴스를 세줄 요약 해 드립니다. 조회수 상위 50개의 기사를 요약합니다.<br>상명대학교 컴퓨터과학과 학생 4명이
                        만들었습니다.<br>2020 동계방학 상생플러스스터디<br>박정연 유승아 이다영 정주영</p>
                </div>
            </div>
        </div>

        <!-- FEATURE -->
        <div class="section section--feature">
            <div class="inner search-info">
                <div class="searchinfo-wrap">
                    <div class="search-keyword hide"></div>
                    <div class="search-number"></div>
                </div>
                <div class="article-time">
                    <i class="far fa-clock"></i>
                    <p class="article-date-here"></p>
                </div>
            </div>
            <div class="inner ex--article clearfix">
            </div>
        </div>

        <!-- FOOTER -->
        <div class="section section--footer">
            <div class="inner wrap-footer">
                <div class="wrap-left-footer">
                    <div class="project-info">
                        <p>동계방학 상생플러스 스터디</p>
                        <p>NOPAIN,NOCODE</p>
                        <p>SuMmicles 기사 세줄 요약 프로젝트</p>
                    </div>
                </div>
                <div class="wrap-center-footer">
                    <a class="gitlogo" href="https://github.com/NoPain-NoCode/summicles">GIT</a>
                </div>
                <div class="wrap-right-footer">
                    <p class="contact">Contact</p>
                    <p>박정연: 201710929@sangmyung.kr</p>
                </div>
            </div>
        </div>
    </div>
    

    <!-- 팝업 기사 -->
    <!-- 이 아래로 popup들이 생성 -->
    <div class="popup-list">
        
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <!-- <script src="article.js"></script> -->
    <script src="../static/nav.js"></script>
    <script src="../static/smallSize.js"></script>
    
    <script src="../static/main.js"></script>
    <script src="../static/popup.js"></script>
    <script>
		var null_article_img="{% static '../static/img/null_article_img.png' %}"
    </script>
    <!-- <script src="article.js"></script> -->

</body>

</html>